<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ChloeVM</string>
	<key>CFBundleName</key>
	<string>chloevm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>4.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Chloe Corporation. All rights reserved.</string>
	<key>CFBundleExecutable</key>
	<string>chloe</string>
	<key>CFBundleIconFile</key>
	<string>chloe.icns</string>
</dict>
</plist>
