/asmdoc/perl
.DS_Store
23.bin
basic.rom
boot.rom
unodos-0.sys
unodos-1.sys
pasmo.exe
*.BAS
/reference/*
*.ZX1
ba????.bmp
symbols.txt

# exclude generated docs
/asmdoc/*asm.html
/asmdoc/*classes*.html
/asmdoc/*inc.html
/asmdoc/index*.html
/asmdoc/constant*.html
/asmdoc/deprecated*.html
